Binaries
DerivedDataCache
Intermediate
Saved
Android
Android_ASTC
Build/Android_ASTC
Build/Android
Config/DefaultEditorPerProjectUserSettings.ini
Plugins/OnlineSubsystemPICO/WindowsDebug
Lumin
.idea
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace